.card-secondary-section {
    background-color: #022122;
    padding: 50px;
    text-align: center;
    overflow: hidden;
}

.card-product-container {
    // border: 1px solid red;
    width: 1400px;
    margin: auto;
}