

.hero-container {
    // height: 100vh;
    // overflow: hidden;
    position: relative;
}



.hero-bg-img {
    position: absolute;
    // justify-content: space-around;
}

.flex {
    display: flex;
}

.hero-content {
    // width: 1920px;
    margin: auto;
    position: relative;
    top: 300px;
}

.hero-text {
    position: relative;
    top: 100px;
    left: 300px;
    width: 620px;
}

.hero-connect-img {
    position: relative;
    top: 200px;
    left: -50px;
}

.hero-product-img {
    position: relative;
    left: -50px;
}

.hero-btn-position {
    padding-top: 50px;
}